.header-container{
    display: flex;
    justify-content: space-between;
    width: 1080px;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    .left-header{
        display: flex;
        align-items: center;
        gap : 20px;
        img{
            width: 40px;
            height: 40px;
        }
    }
    .right-header {
        display: flex;
        flex-direction: row;
        gap: 20px;
        img {
        width: 16px;
        height: 16px;
        }
    }
}