.sidebar-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    .sidebar-home{
        a{
            color: black;
        }
        
    };
    .sidebar-notice{
        a{
            color: black;
        }
        
    }
    .sidebar-management{
        a{
            color: black;
        }
        
    }
    .btn-logout{
        padding: 5px;
        border-radius: 5px;
        color: white;
        background-color: #f5b759;
        border-color: #f5b759;
    }

}